<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <!--The Heading-->
        <h1>Add Product</h1>
            <!--The Form-->
            <div id="addProductForm">
                <form 
                    action="#" 
                    method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="product[name]" placeholder="Product Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="product[brand]" placeholder="Product Brand">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6" id="packSizeL">    
                            <input class="form-control" type="number" name="product[size]" placeholder="Pack Size">
                        </div>
                        <div class="form-group col-lg-6" id="packSizeR">
                            <select class="form-control" id="UoM">
                                <option value="g">grams</option>
                                <option value="ml">milliliters</option>
                                <option value="each">each</option>
                        </select> 
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="weighted">
                        <label class="form-check-label" for="weighted">
                            Weighted?
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="product[category]" placeholder="Product Category">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="product[barcode]" placeholder="Product Bar Code">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
               </form>
               <!-- Link to go back -->
               <a href="#">Go Back</a>
          </div>   
     </div>
</div>

<% include ../partials/footer.ejs %>